<h2 mat-dialog-title>Invite user for feedback</h2>
<mat-dialog-content>
  <form [formGroup]="userEmail">
    <mat-form-field class="user-email" >
      <input matInput placeholder="User Email" autocomplete="off" type="email" formControlName="email" #email>
      <mat-error *ngIf="userEmail.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userEmail.get('email').hasError('email')">
          Your email address is <strong>invalid</strong>. Please enter a valid address.
        </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button class="blue-button" (click)="onInvite()">Invite</button>
</mat-dialog-actions>
