.main-page {
  padding: 0 100px;
  .add-button {
    margin-top: 30px;
    background-color: #42a5f5;
    color: #fff;
  }
  .cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
    grid-auto-rows: auto;
    grid-gap: 2rem;
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      height: 300px;
      margin-bottom: 30px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      transition: all .2s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
      &-header {
        height: 5px;
        background-color: #fff;
        &.met {
          background-color: #66bb6a;
        }
        
        &.surpassed {
          background-color: #ffc107;
        }
        
        &.failed {
          background-color: #ff5722;
        }
      }
      &-body {
        height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px 20px 20px 40px;
        .card-date {
          color: #999;
          font-size: 0.7em;
          font-weight: 600;
          margin-top: 30px;
          text-transform: uppercase;
          word-spacing: 2px;
        }
        .card-title {
          margin-top: 30px;
          font-size: 1.5em;
        }
      }
      &-action-buttons {
        margin-bottom: 30px;
        margin-left: 40px;
        .details-button {
          font-style: italic;
          cursor: pointer;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .main-page {
    padding: 0 40px
  }
}
