<app-header></app-header>
<section class="goal-details">
  <div class="card">
    <div class="card-header" [ngClass]="{'met': goal?.status === 'Met', 'surpassed': goal?.status === 'Surpassed', 'failed': goal?.status === 'Failed'}"></div>
    <div class="card-top-row">
      <div class="card-date">{{goal?.createdAt | date: 'MMM d, y HH:mm'}}</div>
      <div class="action-buttons">
        <button mat-raised-button title="Send invite for feedback"  class="white-button mail" (click)="inviteUserForFeedback()">
          <mat-icon>contact_mail</mat-icon>
        </button>
        <button *ngIf="!editMode" mat-raised-button title="Edit Goal" class="blue-button edit" (click)="onEditMode()">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="editMode" mat-raised-button title="Save Goal" class="green-button save" (click)="onSave(goal)">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button title="Remove Goal" class="red-button delete" (click)="onRemove()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button title="Close" class="white-button close" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div class="card-title-row">
      <div *ngIf="!editMode" class="card-title">{{goal?.title}}</div>
      <mat-form-field *ngIf="editMode" class="card-title-input">
        <input matInput placeholder="Goal" autocomplete="off" [value]="goal?.title" #goalTitle>
      </mat-form-field>

      <div *ngIf="!editMode" class="card-status" [ngClass]="{'met': goal?.status === 'Met', 'surpassed': goal?.status === 'Surpassed', 'failed': goal?.status === 'Failed'}">
        {{goal?.status}}
      </div>
      <mat-form-field *ngIf="editMode">
        <mat-select placeholder="Status" [value]="goal?.status" #goalStatus>
          <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="!editMode && goal" class="card-description">
      <div markdown>
        {{goal?.description}}
      </div>
    </div>
    <mat-form-field *ngIf="editMode" class="card-description-input">
      <textarea matInput matTextareaAutosize placeholder="Goal Description" [value]="goal?.description"
        #goalDescription></textarea>
    </mat-form-field>
  </div>

  <div class="comment-card" *ngIf="showCreateComment">
    <div class="comment-card-header no-border">
      <div class="comment-card-user">{{feedbackUserEmail}}</div>
      <div class="comment-card-date">{{ now | date : 'M.d.yyyy HH:mm'}}</div>
    </div>
    <div>
      <mat-form-field class="card-description-input">
        <textarea matInput matTextareaAutosize placeholder="Comment" #commentMessage></textarea>
      </mat-form-field>
    </div>
    <div class="action-buttons">
      <button mat-raised-button class="blue-button" (click)="addComment()">
        Add Comment
      </button>
    </div>
  </div>


  <div *ngIf="!showComments && comments.length" class="toggle-comments" (click)="toggleComments()">Show comments ({{comments.length}})<mat-icon>expand_more</mat-icon>
  </div>
  <div *ngIf="showComments && comments.length" class="toggle-comments" (click)="toggleComments()">Hide comments<mat-icon>expand_less</mat-icon>
  </div>

  <div *ngIf="showComments">
    <div class="comment-card" *ngFor="let comment of goal.comments">
      <div class="comment-card-header">
        <div class="comment-card-user">{{comment.userEmail}}</div>
        <div class="comment-card-date">{{comment.updatedAt | date : 'M.d.yyyy HH:mm'}}</div>
      </div>
      <div class="comment-card-message">
        {{comment.message}}
      </div>
    </div>
  </div>
</section>
